button__color-rules($color)
  // TODO evaluate color brightness first to better generate
  // darker or lighter accents
  background $color
  border-color darken($color, 8%)

  &:hover,
  &:focus
    background lighten($color, 6%)

  &:active,
  &.is-active
    background darken($color, 4%)

  &:disabled,
  &.is-disabled
    lighten($color, 10%)
