/**
 * FALLBACKS
 *
 * In case these global settings are missing.
 */
$global__size                   ?= 16px
$control__height                ?= 36px
$control__border-radius         ?= 2px

/**
 * BUTTONS
 *
 * Variables for button style.
 */
$button__font-size              ?= $global__size
$button__font-style             ?= inherit
$button__font-weight            ?= inherit
$button__height                 ?= $control__height
$button__border-radius          ?= $control__border-radius
$button__text-color             ?= #fff
$button__background-color       ?= $global__brand-color-300
