.field
  margin 1em auto

  label
    display block
    margin(0, 0, 5px)
    font-weight normal
    font-style normal
    color inherit

  input,
  textarea
    display block
    padding-left 1em
    padding-right @padding-left
    border solid 1px $field__border-color
    background $field__bg-color
    font-family inherit
    font-size($field__font-size)
    font-weight $field__font-weight
    font-style $field__font-style
    color $field__text-color
    border-radius $field__border-radius
    width 100%

    &:focus
      if $field__focused-text-color != $field__text-color
        color $field__focused-text-color
      if $field__focused-border-color != $field__border-color
        border-color $field__focused-border-color

    &::-webkit-input-placeholder
      color $field__border-color
      text-overflow ellipsis

    &:-moz-placeholder
      color $field__border-color
      text-overflow ellipsis

    &::-moz-placeholder
      color $field__border-color
      text-overflow ellipsis

    &:-ms-input-placeholder
      color $field__border-color
      text-overflow ellipsis

  input
    height rel($field__height, $field__font-size)

  textarea
    padding-top 0.5em
    padding-bottom @padding-top
    line-height inherit

  &.is-invalid input,
  &.is-invalid textarea
    border #c30
