/**
 * FALLBACKS
 *
 * In case these global settings are missing.
 */
$global__size                       ?= 16px
$control__height                    ?= 36px
$control__border-radius             ?= 2px

/**
 * FIELDS
 *
 * Variables for field style.
 */
$field__font-size                   ?= $global__size
$field__font-style                  ?= inherit
$field__font-weight                 ?= inherit
$field__text-color                  ?= inherit
$field__border-color                ?= $global__gray-color-200
$field__bg-color                    ?= #fff
$field__height                      ?= $control__height
$field__border-radius               ?= $control__border-radius
$field__focused-text-color          ?= inherit
$field__focused-border-color        ?= $global__brand-color-200
