button,
.button,
a.button
  display inline-block
  margin 0
  padding 0 1em
  outline 0
  cursor-pointer()
  text-overflow(ellipsis)
  height($button__height)
  text-align center
  font-family inherit
  font-size($button__font-size)
  font-style $button__font-style
  font-weight $button__font-weight
  line-height($button__height, $button__font-size)
  vertical-align middle
  border-radius $button__border-radius
  border 0

  &:hover,
  &:focus
    text-decoration none

  &:disabled,
  &.is-disabled
    cursor not-allowed

  &.\\-fill
    display block
    width 100%
