.login
  margin 3em auto
  width 96%
  max-width 26em
  text-align center

  &__form
    padding 1em
    background #fff
    border solid 1px $global__gray-color-100
    border-radius 4px
    text-align left

    & > *:first-child
      margin-top 0

  &__actions
    clearfix()

  &__support
    float left
    width 60%
    text-overflow-ellipsis()
    line-height($control__height)

  &__continue
    float right
    width 30%

    button,
    .button
      display block
      width 100%

  &__signup
    margin 2em 0 0
