/**
 * Converts non-relative units (px) to relative units (em) and leaves
 * relative units alone.
 */
rel($amount, $base = $global__size, $default = 'em')
  if typeof($amount) == 'unit' && unit($amount) == 'px'
    $amount = $amount / $base
    unit($amount, $default)
  else
    $amount

/**
 * Applies the other rules that are needed for text overflow to work.
 */
text-overflow($overflow-style = ellipsis)
  white-space nowrap
  overflow hidden
  text-overflow $overflow-style

/**
 * Causes cut-off text to be display "..."  rather than suddenly
 * disappearing.
 */
text-overflow-ellipsis()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis


/**
 * Adds the before and after selectors needed for the clearfix hack.
 */
clearfix()
  &:before,
  &:after
    content " "
    display table

  &:after
    clear both

/**
 * When applied to a class, it helps to prevent the user from
 * selecting/highlighting an HTML element. This is often used to
 * prevent accidental highlighting.
 */
no-user-select()
  user-select none

/**
 * Creates an element that will appear "clickable" on hover and disables
 * user selection (on supported browsers) of that element.
 */
cursor-pointer()
  no-user-select()
  cursor pointer

/**
 * CONVERSION HELPERS
 * Converts non-relative (px) measurements into relative measurements
 * using the em() method above.
 */
line-height($size, $base = $global__size)
  if typeof($size) == 'unit' && unit($size) == 'px'
    $size = remove-unit($size / $base)
  line-height $size

font-size($size, $base = $global__size)
  font-size rel($size, $base)

font-size-rem($size, $base = $global__size)
  font-size $size
  font-size rel($size, $base, 'rem')

min-width($size, $base = $global__size)
  min-width rel($size, $base)

width($size, $base = $global__size)
  width rel($size, $base)

max-width($size, $base = $global__size)
  max-width rel($size, $base)

min-height($size, $base = $global__size)
  min-height rel($size, $base)

height($size, $base = $global__size)
  height rel($size, $base)

max-height($size, $base = $global__size)
  max-height rel($size, $base)

margin($m..., $base = $global__size)
  if $m[3]
    margin rel($m[0], $base) rel($m[1], $base) rel($m[2], $base) rel($m[3], $base)
  else if $m[2]
    margin rel($m[0], $base) rel($m[1], $base) rel($m[2], $base)
  else if $m[1]
    margin rel($m[0], $base) rel($m[1], $base)
  else
    margin rel($m[0], $base)

margin-top($size, $base = $global__size)
  margin-top rel($size, $base)

margin-bottom($size, $base = $global__size)
  margin-bottom rel($size, $base)

margin-left($size, $base = $global__size)
  margin-left rel($size, $base)

margin-right($size, $base = $global__size)
  margin-right rel($size, $base)

padding($p..., $base = $global__size)
  if $p[3]
    padding rel($p[0], $base) rel($p[1], $base) rel($p[2], $base) rel($p[3], $base)
  else if $p[2]
    padding rel($p[0], $base) rel($p[1], $base) rel($p[2], $base)
  else if $p[1]
    padding rel($p[0], $base) rel($p[1], $base)
  else
    padding rel($p[0], $base)

padding-top($size, $base = $global__size)
  padding-top rel($size, $base)

padding-bottom($size, $base = $global__size)
  padding-bottom rel($size, $base)

padding-left($size, $base = $global__size)
  padding-left rel($size, $base)

padding-right($size, $base = $global__size)
  padding-right rel($size, $base)
