{component(app)}
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  text-align: center

  &.focus-outline--hidden {
    * {
      outline : none !important;
    }
  }

  {part(greeting)}
  font-size: 4em
