/*
Helpful UI - Normalization

Inspired by...

Eric Meyer                -> http://meyerweb.com
HTML5 Doctor              -> http://html5doctor.com
HTML5 Boilerplate         -> http://html5boilerplate.com

*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary
 margin 0
 padding 0
 border 0
 font-size 100%
 font-weight inherit
 font-style inherit
 vertical-align baseline
 background transparent

article, aside, figure, footer, header, nav, section, details, summary
  display block

if $global__enforce-height
  html,
  body
    min-height 100%
    height 100%

/* Handle box-sizing while better addressing child elements:
http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html
  box-sizing border-box
  if $global__enforce-scroll-bar
    overflow-y scroll

*,
*:before,
*:after
 box-sizing inherit

body
  background $global__background
  color $global__body-text-color
  font-family $global__font-paragraph
  font-size-rem($global__size)
  font-weight $global__font-weight
  font-style normal
  line-height($global__line-height)

img,
object,
embed
  max-width 100%

blockquote, q
  quotes none

  &:before,
  &:after
    content ''
    content none

nav
  ol, ul
    list-style none

a
  margin 0
  padding 0
  font-size 100%
  vertical-align baseline
  background transparent
  color $global__link-text-color
  text-decoration none
  cursor pointer

del
  text-decoration line-through

abbr[title], dfn[title]
  border-bottom dotted 1px #000
  cursor help

/* tables still need cellspacing="0" in the markup */
table
  border-collapse collapse
  border-spacing 0
  font-family inherit
  font-size 100%
  font inherit
  color inherit

th, td
  text-align center

  &:first-child
    text-align left

  &:last-child
    text-align right

th
  font-weight bold
  vertical-align bottom

td
  font-weight normal
  vertical-align top

hr
  display block
  margin 1em 0
  padding 0
  height $global__rule-width
  border 0
  background $global__rule-color

input, select
  vertical-align middle

input, select, textarea
  color inherit

select, input, textarea, button
  margin 0
  outline 0
  -webkit-appearance none
  appearance none
  font-family inherit
  font-size 100%
  font inherit

input[type="radio"]
  vertical-align text-bottom

input[type="checkbox"]
  vertical-align bottom

a,
label,
input[type=button],
input[type=submit],
input[type=file],
button
  cursor pointer

/* make buttons play nice in IE */
button,
input[type=button]
  width auto
  overflow visible

p, ul, ol
  margin 1em auto

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
  margin 0 auto
  if $global__font-anthology != $global__font-paragraph
    font-family $global__font-anthology
  color $global__heading-text-color

h1, .h1
  font-size($global__heading-1-font-size)
  line-height($global__heading-1-line-height, $global__heading-1-font-size)
  font-weight $global__heading-1-font-weight
  font-style $global__heading-1-font-style

h2, .h2
  font-size($global__heading-2-font-size)
  line-height($global__heading-2-line-height, $global__heading-2-font-size)
  font-weight $global__heading-2-font-weight
  font-style $global__heading-2-font-style

h3, .h3
  font-size($global__heading-3-font-size)
  line-height($global__heading-3-line-height, $global__heading-3-font-size)
  font-weight $global__heading-3-font-weight
  font-style $global__heading-3-font-style

h4, .h4
  font-size($global__heading-4-font-size)
  line-height($global__heading-4-line-height, $global__heading-4-font-size)
  font-weight $global__heading-4-font-weight
  font-style $global__heading-4-font-style

h5, .h5
  font-size($global__heading-5-font-size)
  line-height($global__heading-5-line-height, $global__heading-5-font-size)
  font-weight $global__heading-5-font-weight
  font-style $global__heading-5-font-style

h6, .h6
  font-size($global__heading-6-font-size)
  line-height($global__heading-6-line-height, $global__heading-6-font-size)
  font-weight $global__heading-6-font-weight
  font-style $global__heading-6-font-style

pre
  white-space pre
  white-space pre-wrap
  white-space pre-line
  word-wrap break-word

small
  font-size 85%

strong
  font-weight bold

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup
  position relative
  font-size 75%
  line-height 0

sup
  top -0.5em

sub
  bottom -0.5em

::selection
  color $global__selection-color
  background $global__selection-background

/* standardize any monospaced elements */
pre, code, kbd, samp
  font-family monospace, sans-serif
